{% extends "layout.html" %}
{% block title %}Ramazon{% endblock %}
{% block page %}Ramazon{% endblock %}

{{ super() }}

{% block content %}
    <style>

        article, aside, #catalog{
            height: 100%;
        }

        .scrollable{
            overflow-y: scroll;
        }

        #container{
            height: calc(100% - 64px);
        }


    </style>
   <div id="catalog" class="row">
       <article class="col s8 scrollable">


       </article>
       <aside class="col s4">
            <section class="scrollable" style="max-height: 80%">

            </section>
            <section class="col s12" style="height: 18%">

            </section>
       </aside>
   </div>
{% endblock %}